body{
  background-color: #F5FAFD;
}
.standare{
  position: relative;
}
.logo{
  position: absolute;
  top: 8%;
  left: 18%;
  width: 150px;
  height: 49px;
  object-fit: cover;
} 
.button{
  position: relative;
  top: 40px;
  right: 20px;
  background-color: #D8E9F6;
  border-radius: 7px;
  border: #091C2A solid 0.5px; 
  padding: 5px;
  width: 70px;
  float: right;
  margin: 10px;
}
.maue{
  position: relative;
  top: 130px;
  left: 15%;
  list-style-type: none;
  display: inline;
  margin: 50px;
  padding: 7px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #091C2A;
}
.maue:hover{
  background-color: #C1DDF1;
  color: #091C2A;
  border-radius: 7px;
}
.line{
  position: relative;
  top: 130px;
  left: -10px;
  width: 2000px;
}
.video{
  position: relative;
  top: 130px;
  left: 13%;
  width: 1140px;
  height: 100px;
}
.square{
  position: relative;
  top: 170px;
  left: 26%;
  background-color: white;
  opacity: 0.8; 
  color: #091C2A;
  border: #091C2A solid;
  border-radius: 7px;
  padding: 70px;
  width: 600px;
  height: 150px;
}
.t1{
  position: relative;
  top: -108px;
  left: 27%;
  margin: 20px;
  padding: 3px;
}
.t1:hover{
  background-color: #C1DDF1;
  color: #091C2A;
  border-radius: 7px;
}
.t2{
  position: relative;
  top: -108px;
  left: 27%;
  margin: 20px;
  padding: 3px;
  display: inline;
}
.line-1{
  background-color: #091C2A;
  color: #091C2A;
  position: relative;
  top: -100px;
  left: 30px;
  z-index: 30;
  width: 740px;
}
.op{
  position: relative;
  top: -140px;
  left: 420px;
  width: 150px;
  height: 35px;
  padding: 5px 30px 5px 10px;
  margin: 80px;
  border-radius: 4px;
  outline: 0 none;
}