:root {
    --mainmain-50: rgba(251, 254, 255, 1);
    --mainmain-100: rgba(240, 250, 254, 1);
    --mainmain-200: rgba(221, 243, 253, 1);
    --mainmain-300: rgba(194, 234, 251, 1);
    --mainmain-400: rgba(160, 222, 248, 1);
    --mainmain-500: rgba(118, 207, 245, 1);
    --mainmain-600: rgba(69, 190, 242, 1);
    --mainmain-700: rgba(16, 168, 234, 1);
    --mainmain-800: rgba(9, 94, 130, 1);
    --mainmain-900: rgba(5, 49, 68, 1);
    --mainmain-950: rgba(3, 34, 48, 1);
    --midmid-50: rgba(253, 254, 255, 1);
    --midmid-100: rgba(248, 253, 255, 1);
    --midmid-200: rgba(240, 250, 255, 1);
    --midmid-300: rgba(228, 247, 255, 1);
    --midmid-400: rgba(213, 242, 255, 1);
    --midmid-500: rgba(195, 237, 255, 1);
    --midmid-600: rgba(173, 230, 255, 1);
    --midmid-700: rgba(148, 223, 255, 1);
    --midmid-800: rgba(0, 145, 207, 1);
    --midmid-900: rgba(0, 63, 90, 1);
    --midmid-950: rgba(0, 36, 51, 1);
    --lightlight-50: rgba(254, 255, 255, 1);
    --lightlight-100: rgba(252, 254, 255, 1);
    --lightlight-200: rgba(248, 253, 255, 1);
    --lightlight-300: rgba(242, 251, 255, 1);
    --lightlight-400: rgba(235, 249, 255, 1);
    --lightlight-500: rgba(226, 246, 255, 1);
    --lightlight-600: rgba(216, 243, 255, 1);
    --lightlight-700: rgba(204, 240, 255, 1);
    --lightlight-800: rgba(0, 163, 232, 1);
    --lightlight-900: rgba(0, 67, 96, 1);
    --lightlight-950: rgba(0, 36, 51, 1);
    --primaryprimary-50: rgba(253, 254, 254, 1);
    --primaryprimary-100: rgba(245, 250, 253, 1);
    --primaryprimary-200: rgba(233, 243, 250, 1);
    --primaryprimary-300: rgba(216, 233, 246, 1);
    --primaryprimary-400: rgba(193, 221, 241, 1);
    --primaryprimary-500: rgba(166, 206, 235, 1);
    --primaryprimary-600: rgba(134, 189, 228, 1);
    --primaryprimary-700: rgba(97, 168, 219, 1);
    --primaryprimary-800: rgba(31, 93, 138, 1);
    --primaryprimary-900: rgba(15, 44, 66, 1);
    --primaryprimary-950: rgba(9, 28, 42, 1);
  }
  